.app {
  display: flex;
  padding: 40px;
  position: relative;
  justify-content: center;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}


.game img {
  width: 70px;
  height: 70px;
  border-radius: 40px;
}
